/* General */
button, select {
  font-size: 1rem;
  padding: 0.2em 0.5em;
  border-style: solid;
  box-shadow: none;
}
fieldset input[type="radio"] {
  margin-right: 0.5em;
}
input {
  background: var(--textarea-bg);
  box-shadow: none;
}
input[type=text], input[type=password], input[type="date"] {
  width: 100%;
  padding: 0 0.8em;
  box-sizing: border-box;
}
input[type=color] {
  display: block;
  width: .4in;
}
textarea {
  width: 100%;
  padding: 0.8em;
  border: none;
  box-sizing: border-box;
}
input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
input[type="date"],
textarea:focus-visible,
#typebox:focus-visible {
  outline-offset: -2px;
}
hr {
  border-width: .015in;
}
.title {
  text-shadow: none;
}

/* Login */
#logindiv {
  height: auto;
  width: 6in;
  min-height: auto;
  min-width: auto;
  max-width: 90%;
  padding: .2in 0;
}
#logindiv label, #TOSbox {
  display: inline-block;
  margin: .16in 0 .05in 0;
}
#logindiv br {
  line-height: 0;
}
#logindiv button {
  margin-top: .2in;
}

/* Server List */
#servers {
  padding: .085in .085in 0 .085in;
  margin: 0;
}
.servericon {
  margin-bottom: .07in;
}
.unread {
  transform: translate(-.2in, .2in);
  border-color: var(--server-list);
}
.notiunread {
  transform: translate(-.14in, .2in);
}
.serveropen .unread {
  transform: translate(-0.14in, 0.1in) !important;
}
.servernoti:hover .unread {
  transform: translate(-.14in, 0.15in);
}

/* Channels Area */
#serverName {
  padding-left: 0.14in;
}
.servertd {
  height: .5in;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: .02in;
  border-bottom-color: color-mix(in srgb, var(--black) 50%, transparent);
}
.channels {
  padding: 0;
}
.channel {
  min-height: 2em;
  padding: 0;
  margin: 0 .08in;
}
.channeleffects {
  margin-top: 0.6em;
  color: var(--reply-text);
  box-shadow: none;
}
.channeleffects:hover {
  background: inherit;
  color: var(--primary-text);
}
#channels p2 {
  font-weight: normal;
  margin-left: 0.3em;
}
#channels > div > div:first-child:is(.channel) {
  margin-top: .08in;
}
.space {
  margin: 0.3em 0.2em 0 0.4em;
  vertical-align: -.02in;
}
.addchannel {
  margin-right: .08in;
}
.cunread {
  position: relative;
  box-shadow: none;
}
.cunread:after {
  content: '';
  height: .075in;
  width: .075in;
  position: absolute;
  left: -.115in;
  top: .13in;
  background: var(--primary-text);
  border-radius: 50%;
}

/* User */
#userdock {
  height: .52in;
}
#userinfo {
  min-width: 50%;
  margin-left: .05in;
  background: none;
  color: var(--markdown-timestamp);
}
#userinfo:hover {
  background: var(--user-info-bg);
}
#userpfp {
  height: 32px;
  width: 32px;
}
#user-actions {
  margin-right: .05in;
}

/* Messages Area */
.channelnamediv {
  display: inline-block;
  padding-top: .125in;
}
#channelname {
  display: inline-block;
}
#channelTopic {
  font-size: 0.9rem;
  color: var(--reply-text);
}
.messagediv {
  padding: .03in .16in 0 .16in;
}
.topMessage {
  padding-top: .05in;
  margin-top: 1em;
}
.pfprow {
  width: .54in;
}
.username {
  margin-bottom: 0.05in;
}
.membererror {
  font-size: 0.7em;
  background: transparent;
  border-color: var(--red);
}
.timestamp {
  padding-left: 0.5rem;
}
.spoiler {
  background: var(--spoiler-open-bg);
  color: var(--spoiler-open-bg);
}
pre {
  padding: 1em;
  color: var(--markdown-timestamp);
  border-radius: .05in;
  box-sizing: border-box;
}
span:has(pre) {
  display: inline-block;
  width: 90%;
}
.replytext pre {
  padding: 0;
  color: var(--pronouns);
  border-radius: 0;
}

/* Upload, External */
.messageimgdiv, .unknownfile, .linkembed {
  margin-top: .05in;
}
.embed-color {
  padding-left: 4px;
  margin-top: .05in;
  margin-left: .05in;
}
.embed-color:first-of-type {
  margin-left: 0;
}
.embed {
  font-size: 0.8rem;
  padding: 1em;
  color: var(--markdown-timestamp);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.embed a {
  font-size: 1rem;
  font-weight: bold;
}
.embed p {
  margin-bottom: 0.5em;
}
.embed .provider {
  color: var(--pronouns);
}
.bot {
  font-size: .8rem;
  height: .8rem;
  padding: .01in .05in .03in .05in;
  margin: .02in 0 0 .05in;
  border: none;
  border-radius: .04in;
}

/* Emoji */
.reactiondiv {
  margin-top: .05in;
  margin-left: .5in;
}
.reaction {
  min-width: .4in;
  padding: .015in .02in;
  border-width: .02in;
  border-color: transparent;
}
.reaction:hover {
  border-color: var(--focus);
}
.reaction.meReacted {
  border-color: color-mix(in srgb, var(--channels-bg) 60%, var(--accent-color));
}
.reaction p {
  font-size: 1rem;
}
.smallemoji {
  max-height: 1em;
  max-width: 1em;
  align-self: center;
}
.emojiPicker {
  height: 3.8in;
  border: none;
  border-radius: .1in;
  box-shadow: 0 0 .05in color-mix(in srgb, var(--shadow) 50%, transparent);
}
.emojiTitle {
  padding: .1in 0 0 .14in;
  border: none;
}
.emojiBody {
  padding: .05in;
  background: var(--primary-bg);
  border-radius: 0 0 .1in .1in;
}
.emojiSelect {
  height: 32px;
  width: 32px;
  padding: .025in;
  background: var(--primary-bg);
  border: none;
  border-radius: 30%;
}
.emojiSelect:hover {
  background: var(--message-bg-hover);
}
.emojirow {
  padding: .1in;
  gap: .05in;
}
.emojirow .emojiSelect {
  padding: 0;
  background: var(--profile-info-bg);
}
.emojirow .emojiSelect:hover {
  background: color-mix(in srgb, var(--pronouns) 25%, transparent);
}
.emoji-server {
  margin: 0;
}

/* Typing */
#realbox {
  width: calc(100% - .32in);
  padding: 0.6em 1em;
  margin: .0in .16in .25in .16in;
  box-shadow: none;
}
#typebox {
  min-height: 1em;
}
#replybox {
  padding: 0.2em 1em;
}
#replybox span {
  font-size: 0.9rem;
}
#typing {
  font-size: 0.8rem;
  flex-direction: row-reverse;
  gap: .02in;
}

/* Profile */
.profile, .hypoprofile {
  color: var(--markdown-timestamp);
  border-radius: .1in;
}
.profile {
  box-shadow: 0 0 .05in color-mix(in srgb, var(--shadow) 50%, transparent);
}
.hypoprofile {
  box-shadow: none;
}
.infosection {
  background: linear-gradient(to top, var(--accent_color), transparent);
  border-radius: .1in;
}
.tag {
  margin-top: .02in;
}
.pronouns {
  margin-top: .05in;
}
.rolediv {
  margin-right: .05in;
  border: none;
}

/* Settings Menus */
.settingstitle {
  border-bottom-width: .04in;
  padding: .1in 0 .1in .2in;
}
.settingbuttons {
  border-right: solid .04in var(--message-bg-hover);
}
.SettingsButton {
  height: .36in;
  padding-left: 1em;
  margin: 0;
  background: none;
  border: none;
}
.SettingsButton:hover {
  background: var(--channel-hover);
}
.flexspace {
  padding: .2in;
}
.flexspace .flexspace {
  padding: 0;
}
.flexspace .flexspace:has(.setting) {
  padding: 1em 0 3em 0;
}
.flexspace.flexltr {
  gap: .2in;
}
.optionElement {
  width: 100%;
  box-shadow: none;
}
.setting {
  width: calc(100% - 2em);
  padding: 1em;
  margin-left: 1em;
  background: var(--profile-info-bg);
  color: var(--markdown-timestamp);
  box-shadow: none;
  box-sizing: border-box;
}
.settingsname {
  font-size: 1.3rem;
}
.exitsettings {
  height: .35in;
  top: .1in;
  right: .08in;
  background: var(--button-bg);
  border: none;
  box-shadow: none;
}
.exitsettings:hover {
  background: var(--button-hover);
}
.savediv {
  border: none;
  box-shadow: 0 0 .05in color-mix(in srgb, var(--shadow) 50%, transparent);
  gap: 1em;
}
.savediv button {
  background: color-mix(in srgb, var(--green) 40%, var(--primary-bg));
}

/* Other Menus */
.contextmenu {
  padding: 0.5em;
  box-shadow: 0 0 .05in color-mix(in srgb, var(--shadow) 50%, transparent);
}
.contextbutton {
  font-size: 0.9rem;
  font-weight: normal;
  height: auto;
  padding: 0.5em 1em;
  margin: 0;
  background: var(--profile-info-bg);
  color: var(--markdown-timestamp);
  border: none;
}
.contextbutton:hover {
  background: color-mix(in srgb, var(--color-text-secondary-soft) 15%, transparent);
}
.guildy h2 {
  margin: .05in 0 .05in .08in;
}
.discovery-guild {
  padding: 0.5em 1em;
  position: relative;
  background: var(--profile-bg);
  box-shadow: none;
}
.discovery-guild p {
  max-width: calc(100% - 215px);
  margin-top: .02in;
}
.discovery-guild .banner {
  position: absolute;
  left: auto;
  right: 0;
}
.invitediv {
  padding: 0 0.5em;
  border: none;
}
.copycontainer {
  margin-right: .05in;
  background: var(--button-bg);
  border: none;
  border-radius: 0 .1in .1in 0;
  box-shadow: none;
}
.accountSwitcher {
  border: none;
  box-shadow: 0 0 .05in color-mix(in srgb, var(--shadow) 50%, transparent);
}
.switchtable {
  padding: 0.5em;
  background: var(--primary-bg);
  border: none;
  box-shadow: none;
}
.switchtable:hover {
  background: var(--message-bg-hover);
}
.serverURL {
  color: var(--timestamp-color);
}

/* DM */
.channeleffects:has(.pfp) {
  width: 94%;
  margin: 0 3%;
}
.channeleffects:has(.pfp):hover {
  background: var(--channel-hover);
}

/* Theme Simplification */
.Dark-theme, .Light-theme, .WHITE-theme {
  /* General */
  --primary-bg: var(--color-bg-primary);
  --primary-text: var(--color-text-primary);
  --icon-color: var(--accent-color);

  --black: var(--color-black);
  --red: var(--color-red);
  --yellow: var(--color-yellow);
  --green: var(--color-green);
  --focus: color-mix(in srgb, var(--accent-color) 50%, transparent);
  --link: var(--color-link);
  --shadow: var(--color-black);

  --scrollbar-track: var(--color-bg-primary-hover);
  --scrollbar-thumb: var(--color-bg-secondary);
  --scrollbar-thumb-hover: var(--color-bg-secondary);

  --loading-bg: var(--color-bg-panel);

  /* Server List */
  --server-list: var(--color-bg-server-bar);
  --light-border: var(--color-bg-primary);
  --blank-bg: var(--color-bg-primary);

  /* Channels Area */
  --server-name-bg: var(--color-bg-panel);
  --server-border: var(--color-bg-secondary);
  --channels-bg: var(--color-bg-panel);
  --channel-hover: var(--color-panel-button-bg-hover);

  /* User */
  --user-dock-bg: var(--color-bg-secondary);
  --user-info-bg: color-mix(in srgb, var(--color-text-secondary-soft) 15%, transparent);
  --settings-hover: color-mix(in srgb, var(--color-text-secondary-soft) 15%, transparent);

  /* Messages Area */
  --channel-name-bg: var(--color-bg-primary);
  --message-bg-hover: var(--color-bg-primary-hover);
  --message-jump: var(--color-bg-message-highlight);
  --timestamp-color: var(--color-text-primary-soft);
  --reply-bg: var(--color-bg-message-highlight);
  --reply-border: color-mix(in srgb, var(--color-text-primary-soft) 20%, transparent);
  --reply-text: var(--color-text-primary-soft);
  --code-bg: var(--color-bg-secondary);
  --spoiler-hover: color-mix(in srgb, var(--color-spoiler) 90%, var(--color-text-primary));
  --spoiler-open-bg: var(--color-spoiler);

  /* Upload, External */
  --embed: var(--color-bg-secondary);
  --unknown-file-bg: var(--color-bg-secondary);
  --unknown-file-border: transparent;
  --filename: var(--color-link);

  /* Typing */
  --textarea-bg: var(--color-bg-textarea);

  /* Profile */
  --profile-bg: var(--color-bg-secondary);
  --profile-info-bg: var(--color-bg-secondary);
  --pronouns: var(--color-text-secondary-soft);

  /* Menu */
  --dialog-bg: var(--color-bg-primary);
  --dialog-border: var(--color-bg-primary);
  --discovery-bg: var(--color-bg-primary);
  --button-bg: var(--color-button-bg);
  --button-hover: var(--color-button-bg-hover);
  --login-border: var(--color-bg-secondary);

  /* Currently Unused Officially */
  --mention-bg: color-mix(in srgb, var(--color-bg-primary) 80%, var(--accent-color));
  --quote-bg: var(--accent-color);
  --markdown-timestamp: var(--color-text-secondary);
}