/* Loading */
#loading {
	z-index: 100;
	position: fixed;
	height: 100%;
	width: 100%;
	background: var(--loading-bg);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#centerdiv {
	flex: none;
}
#loading.doneloading {
	display: none;
}
#loadingdiv {
	display: none;
}

/* General */
body {
	margin: 0;
	background: var(--primary-bg);
	font-family: var(--font);
	color: var(--primary-text);
}
#page {
	height: 100vh;
}
.flexltr {
	display: flex;
}
.flexttb {
	display: flex;
	flex-direction: column;
}
p, h1, h2, h3, pre {
	margin: 0;
}
a {
	color: var(--link);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
hr {
	height: 0;
	margin: 0;
	border-style: solid;
	border-width: 1px;
	border-color: var(--divider);
}
pre, samp {
	background: var(--code-bg);
}
button, input[type="file"], input[type="color"] {
	cursor: pointer;
}
button, input::file-selector-button {
	padding: 2px 8px;
	background: var(--button-bg);
	font-size: 1rem;
	font-family: var(--font);
	font-weight: bold;
	text-align: left;
	color: var(--button-text);
	border: none;
	border-radius: 4px;
}
button:hover, input::file-selector-button:hover {
	background: var(--button-hover);
}
textarea {
	resize: none;
}
textarea, input[type="text"] {
	display: block;
	width: 100%;
	padding: 8px;
	background: var(--text-input-bg);
	font-family: var(--font);
	font-size: 1rem;
	color: var(--primary-text);
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type="color"] {
	display: block;
	padding: 2px;
	width: 40px;
	height: 40px;
	background: var(--primary-text);
	border: none;
}
.servertd {
	flex: none;
	height: 48px;
	border-bottom: solid 2px color-mix(in srgb, var(--shadow), transparent);
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
}
.servertd h2 {
	font-size: 1.15rem;
}

/* Icons */
.pfp, .replypfp {
	display: block;
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
}
.svg-announce {
	mask: url(/icons/announce.svg);
}
.svg-category {
	mask: url(/icons/category.svg);
}
.svg-channel {
	mask: url(/icons/channel.svg);
}
.svg-copy {
	mask: url(/icons/copy.svg);
}
.svg-explore {
	mask: url(/icons/explore.svg);
}
.svg-home {
	mask: url(/icons/home.svg);
}
.svg-settings {
	mask: url(/icons/settings.svg);
}
.svg-voice {
	mask: url(/icons/voice.svg);
}
.svgtheme {
	display: inline-block;
	background: var(--icon);
	mask-repeat: no-repeat;
}

/* Server List */
#servers {
	height: 100%;
	padding: 8px;
	box-sizing: border-box;
	background: var(--servers-bg);
	overflow-y: scroll;
	user-select: none;
}
.servericon, #servers .pfp {
	height: 48px;
	width: 48px;
	margin-bottom: 6px;
	border-radius: 50%;
	cursor: pointer;
}
.servericon:hover, .serveropen .servericon {
	border-radius: 30%;
}
.svgicon {
	height: 100%;
	width: 100%;
}
.home.servericon {
	background: var(--blank-bg);
}
.lightbr {
	margin: 8px 4px;
}
.blankserver {
	background: var(--blank-bg);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Channel Panel */
.channelflex {
	flex: none;
	width: 240px;
	background: var(--channels-bg);
	user-select: none;
}
.servertd {
	background: var(--channels-header-bg)
}
#serverName {
	padding: 0 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#channels {
	flex: 1;
	padding: 0 8px;
	overflow-y: scroll;
}
.channels {
	overflow-y: hidden;
}
#channels > div > div:first-child {
	margin-top: 8px;
}
.channel {
	flex: 1;
	height: 2em;
	padding: 0 8px;
	display: flex;
	border-radius: 4px;
	align-items: center;
	cursor: pointer;
}
.channel:hover {
	background: var(--channel-hover);
}
.viewChannel, .viewChannel:hover {
	background: var(--channel-selected);
	font-weight: bold;
}
.space, .collapse-icon {
	height: 1em;
	width: 1em;
	margin-right: 4px;
}
.hiddencat {
	rotate: -90deg;
}
.capsflex {
	display: flex;
}
#userdock {
	width: 100%;
	padding: 2px;
	box-sizing: border-box;
	background: var(--dock-bg);
	align-items: center;
	justify-content: space-between;
}
#userinfo {
	min-width: 50%;
	background: var(--user-info-bg);
	border-radius: 8px;
	cursor: pointer;
}
#userinfo:hover {
	background: var(--dock-hover);
}
#userpfp {
	height: 48px;
	width: 48px;
	margin: 2px 6px;
}
.userflex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#status {
	font-size: .8em;
}
#user-actions {
	border-radius: 50%;
	display: flex;
	cursor: pointer;
}
#user-actions:hover {
	background: var(--dock-hover);
}
#settings {
	height: 22px;
	width: 22px;
	margin: 6px;
}

/* Message Area */
.messageflex {
	flex: 1;
}
.channelnamediv {
	padding: 0 16px;
	background: var(--main-header-bg);
}
#channelw {
	flex: 1;
	padding-bottom: 16px;
	overflow-y: scroll;
}
#realbox {
	padding: 0 16px 32px 16px;
}
#typebox {
	padding: 8px;
	background: var(--typebox-bg);
	border-radius: 4px;
}
#typebox[contenteditable=false] {
	cursor:not-allowed;
}
#typebox[contenteditable=false]:before {
	content: "You can't chat here";
	color: color-mix(in hsl, var(--typebox-bg), var(--primary-text));
}
#typing {
	position: absolute;
	bottom: 0;
}

/* Message */
.messagediv, .titlespace {
	padding: 4px 16px;
}
.messagediv:hover {
	background: var(--primary-hover);
}
.topMessage {
	margin-top: 8px;
}
.message pre {
	padding: 8px;
	margin-top: 4px;
	border-radius: 4px;
}
.message img {
	max-width: 100%;
}
.pfprow {
	flex: none;
	width: 40px;
	margin-right: 12px;
}
.pfprow .pfp {
	height: 40px;
}
.timestamp {
	margin: auto 0 0 6px;
	font-size: .75em;
	color: var(--primary-text-soft);
}
.spoiler {
	background: var(--spoiler);
	color: var(--spoiler);
}
.spoiler:hover {
	background: var(--spoiler-hover);
	color: var(--spoiler-hover);
}
.unspoiled {
	color: var(--primary-text);
}
.quote {
	display: inline-block;
	position: relative;
}
.quoteline {
	position: absolute;
	height: 100%;
	width: 4px;
	background: var(--quote-line);
}
span .quote:first-of-type .quoteline {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
span .quote:last-of-type .quoteline {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.quote span {
	display: inline-block;
	margin-left: 8px;
}
.replyflex {
	font-size: .9em;
	color: var(--reply-text);
	display: flex;
	align-items: center;
}
.startreply {
	width: 32px;
	margin-left: 20px;
	border-color: var(--reply-line);
}
.replypfp {
	height: 24px;
	width: 24px;
	margin: 0 4px;
}
.replytext {
	margin: 0 4px;
}
.reply {
	flex: 1;
	border-color: var(--reply-line);
}
.reactiondiv {
	margin: 2px 0 0 52px;
	gap: 4px;
}
.reaction {
	min-width: 36px;
	padding: 2px 4px;
	background: var(--reaction-bg);
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.smallemoji {
	width:22px;
	height:22px;
}

/* Message External */
.filename a {
	color: var(--filename);
}
.embed-color {
	max-width: 400px;
	margin-top: 4px;
	border-radius: 8px;
}
.embed {
	padding: 12px;
	margin-left: 4px;
	background: var(--embed-bg);
	font-size: .88rem;
	color: var(--secondary-text);
	border-radius: 0 8px 8px 0;
}
.embed a {
	display: inline-block;
	padding-bottom: 4px;
	font-size: 1rem;
	font-weight: bold;
}
.embed .provider {
	padding-bottom: 4px;
	color: var(--secondary-text-soft);
}
.embed img {
	margin-top: 8px;
	border-radius: 4px;
	cursor: pointer;
}

/* Context Menu */
.contextmenu {
	position: absolute;
	padding: 8px;
	background: var(--secondary-bg);
	border-radius: 4px;
	box-shadow: 0 0 8px color-mix(in srgb, var(--shadow) 20%, transparent);
}
.contextbutton {
	width: 180px;
	padding: 6px 16px;
	background: var(--secondary-bg);
	font-size: .9rem;
	font-weight: normal;
}
.contextmenu button:hover {
	background: var(--secondary-hover);
}

/* Popup */
.profile, .hypoprofile {
	position: absolute;
	height: 350px;
	width: 300px;
	padding: 8px;
	background: var(--popup-bg);
	box-shadow: 0 0 8px color-mix(in srgb, var(--shadow) 20%, transparent), inset 0 132px 64px var(--accent_color);
	border-radius: 8px;
	overflow: hidden;
	align-items: flex-start;
	box-sizing: border-box;
}
.profile .pfp, .hypoprofile .pfp {
	width: 48px;
}
.statusDiv {
	position: absolute;
	right: 2px;
	bottom: 2px;
	height: 7px;
	width: 7px;
	background: var(--black);
	border: solid 2.5px var(--black);
	border-radius: 50%;
}
.onlinestatus {
	background: var(--green);
}
.banner {
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	object-fit: cover;
}
.infosection {
	flex: 1;
	width: 100%;
	padding: 8px;
	margin-top: 52px;
	background: var(--secondary-bg);
	color: var(--secondary-text);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.pronouns {
	font-size: .9rem;
	color: var(--secondary-text-soft);
}
.rolesbox {
	margin-top: auto;
}

/* Fullscreen */
.background {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background: color-mix(in srgb, var(--black) 75%, transparent);
}
.imgfit {
	max-height: 100%;
	max-width: 100%;
}
.centeritem {
	position: fixed;
	top: 50%;
	left: 50%;
	max-height: 80vh;
	max-width: 80vh;
	transform: translate(-50%, -50%);
}

/* Settings */
.settingstitle {
	background: var(--settings-header-bg);
  }
.exitsettings {
	position: absolute;
	top: 8px;
	right: 8px;
	height: 32px;
	width: 32px;
	background: var(--button-bg);
	border-radius: 50%;
	cursor: pointer;
}
.exitsettings:hover {
	background: var(--button-hover);
}

/* !! DO NOT STYLE FAKE ICONS THEY WILL BE ADDED LATER !! */
/* ALSO NEED TO ASK TOMATO IF DESCRIPTION CAN GO NEXT TO CHANNEL NAME */
/* MAY HAVE TO CHANGE WHICH CLASS SCROLLS BASED ON LOAD/NOTIF */
/* SEARCH ANIMATION AND TRANSITION LATER */