/* Loading */
#loading {
	z-index: 100;
	position: fixed;
	height: 100%;
	width: 100%;
	background: var(--loading-bg);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#centerdiv {
	flex: none;
}
#loading.doneloading {
	display: none;
}
#loadingdiv {
	display: none;
	flex: 1;
	overflow: scroll;
	flex-direction: column-reverse;
}
#loadingdiv.loading {
	display: flex;
}
.loadingmessage {
	position: relative;
}
.loadingpfp {
	position: absolute;
	height: 40px;
	width: 40px;
	margin-left: 16px;
	background: var(--typebox-bg);
	border-radius: 50%;
}
.loadingcontent {
	height: 16px;
	margin: 0 0 12px 68px;
	background: var(--typebox-bg);
	border-radius: 8px;
}

/* General */
body {
	margin: 0;
	background: var(--primary-bg);
	font-family: var(--font);
	color: var(--primary-text);
}
#page {
	height: 100vh;
}
.flexltr {
	display: flex;
}
.flexttb {
	display: flex;
	flex-direction: column;
}
p, h1, h2, h3, pre {
	margin: 0;
}
a {
	color: var(--link);
	text-decoration: none;
	word-break: break-all;
}
a:hover {
	text-decoration: underline;
}
hr {
	height: 2px;
	background: var(--divider);
	border: none;
}
pre, samp {
	background: var(--code-bg);
}
button, input, select {
	cursor: pointer;
}
select {
	appearance: none;
	-webkit-appearance: none;
}
button, input::file-selector-button, select {
	padding: 2px 8px;
	background: var(--button-bg);
	font-size: 1rem;
	font-family: var(--font);
	font-weight: bold;
	text-align: left;
	color: var(--button-text);
	border: none;
	border-bottom: 2.5px solid var(--button-border);
	border-radius: 4px;
}
button:hover, input::file-selector-button:hover {
	background: var(--button-hover);
}
input::file-selector-button, select {
	margin-left: 4px;
}
textarea {
	height: 144px;
	resize: none;
}
textarea, input[type="text"] {
	display: block;
	width: 100%;
	padding: 8px;
	background: var(--text-input-bg);
	font-family: var(--font);
	font-size: 1rem;
	color: var(--primary-text);
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type="color"] {
	display: block;
	height: 40px;
	width: 40px;
	background: var(--secondary-bg);
	border: none;
	border-radius: 4px;
}
:focus-visible {
	outline: 2px solid var(--focus);
}
input[type="text"],
input[type="password"],
textarea:focus-visible,
#typebox:focus-visible {
	outline: none;
}

/* Icons */
.pfp, .replypfp {
	display: block;
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
}
.svg-announce {
	mask: url(/icons/announce.svg);
}
.svg-edit{
	mask: url(/icons/edit.svg);
}
.svg-reply{
	mask: url(/icons/reply.svg);
}
.svg-delete{
	mask: url(/icons/delete.svg);
}
.svg-category {
	mask: url(/icons/category.svg);
}
.svg-channel {
	mask: url(/icons/channel.svg);
}
.svg-copy {
	mask: url(/icons/copy.svg);
}
.svg-explore {
	mask: url(/icons/explore.svg);
}
.svg-home {
	mask: url(/icons/home.svg);
}
.svg-settings {
	mask: url(/icons/settings.svg);
}
.svg-voice {
	mask: url(/icons/voice.svg);
}
.svgtheme {
	display: inline-block;
	background: var(--icon);
	mask-repeat: no-repeat;
}

/* Animations */
@keyframes fade {
	0%, 100% {
		opacity: .2;
	}
	50% {
		opacity: 1;
	}
}

/* Server List */
#servers {
	height: 100%;
	padding: 8px;
	box-sizing: border-box;
	background: var(--servers-bg);
	overflow-y: scroll;
	user-select: none;
}
.servericon, #servers .pfp {
	height: 48px;
	width: 48px;
	margin-bottom: 6px;
	border-radius: 50%;
	cursor: pointer;
}
.servericon:hover, .serveropen .servericon {
	border-radius: 30%;
}
.svgicon {
	height: 100%;
	width: 100%;
}
.home.servericon {
	background: var(--blank-bg);
}
.lightbr {
	margin: 8px 4px;
}
.blankserver {
	background: var(--blank-bg);
	display: flex;
	justify-content: center;
	align-items: center;
}
.servernoti, .home {
	position: relative;
}
.unread {
	position: absolute;
	transform: translate(-18px, 20px);
	height: 8px;
	width: 8px;
	background: var(--primary-text);
	border-radius: 4px;
}
.servernoti:hover .unread {
 	transform: translate(-12px, 12px);
	height: 24px;
}
.serveropen .unread {
	transform: translate(-12px, 8px) !important;
	height: 32px !important;
}
.notiunread {
	transform: translate(-12px, 20px);
}

/* Channel Panel */
.channelflex {
	flex: none;
	width: 240px;
	background: var(--channels-bg);
	user-select: none;
}
.servertd {
	flex: 0 0 48px;
	background: var(--channels-header-bg);
	border-bottom: solid 2px color-mix(in srgb, var(--black), transparent);
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
}
#serverName {
	padding: 0 12px;
	font-size: 1.15rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#channels {
	flex: 1;
	overflow-y: scroll;
}
.channels {
	overflow-y: hidden;
}
#channels > div > div:first-child {
	margin-top: 8px;
}
.channel {
	flex: 1;
	height: 2em;
	padding: 0 8px;
	margin: 0 8px;
	display: flex;
	border-radius: 4px;
	align-items: center;
	cursor: pointer;
}
.channel:hover {
	background: var(--channel-hover);
}
.viewChannel, .viewChannel:hover {
	background: var(--channel-selected);
	font-weight: bold;
}
.cunread {
	position: relative;
}
.cunread:after {
	content: '';
	position: absolute;
	top: calc(50% - 4px);
	left: -12px;
	height: 8px;
	width: 8px;
	background: var(--primary-text);
	border-radius: 50%;
}
.space {
	height: 1em;
	width: 1em;
	margin-right: 8px;
}
.capsflex {
	margin-top: 8px;
	display: flex;
}
.channeleffects {
	padding: 0;
	color: var(--primary-text-soft);
}
.channeleffects:hover {
	background: unset;
	color: var(--primary-text);
}
.collapse-icon {
	height: 12px;
	width: 12px;
	margin-right: 6px;
	transition: rotate .2s;
}
.hiddencat {
	rotate: -90deg;
}

/* DM Channels */
.channeleffects:has(.pfp) {
	padding: 4px 8px;
	display: flex;
	align-items: center;
	gap: 8px;
}
.channeleffects:has(.pfp):hover {
	background: var(--channel-hover);
}
.channeleffects .pfp {
	height: 32px;
	width: 32px;
}

/* Dock */
#userdock {
	width: 100%;
	padding: 4px 6px;
	box-sizing: border-box;
	background: var(--dock-bg);
	align-items: center;
	justify-content: space-between;
}
#userinfo {
	min-width: 50%;
	background: var(--user-info-bg);
	color: var(--user-info-text);
	border-radius: 8px;
	cursor: pointer;
}
#userinfo:hover {
	background: var(--dock-hover);
}
#userpfp {
	height: 32px;
	width: 32px;
	margin: 6px;
}
.userflex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#status {
	font-size: .8em;
}
#user-actions {
	border-radius: 50%;
	display: flex;
	cursor: pointer;
}
#user-actions:hover {
	background: var(--dock-hover);
}
#settings {
	height: 22px;
	width: 22px;
	margin: 6px;
}

/* Message Area */
.messageflex {
	flex: 1;
	min-width: 0;
}
.channelnamediv {
	padding: 0 16px;
	background: var(--main-header-bg);
}
#channelw {
	flex: 1;
	display: flex;
	min-height: 0;
}
.scroller {
	flex: 1;
	padding-bottom: 24px;
	overflow-y: scroll;
}
#realbox {
	padding: 0 16px 32px 16px;
}
#typebox {
	padding: 8px;
	background: var(--typebox-bg);
	border-radius: 4px;
}
#typebox[contenteditable=false] {
	cursor:not-allowed;
}
#typebox[contenteditable=false]:before {
	content: "You can't chat here";
	color: color-mix(in hsl, var(--typebox-bg), var(--primary-text));
}
#typing {
	position: absolute;
	bottom: 8px;
	margin-left: 24px;
	font-size: .9rem;
	display: flex;
	gap: 4px;
}
#typing.hidden {
	display: none;
}
.loading-indicator {
	display: flex;
	align-items: center;
}
.dot {
	animation: fade 1s infinite;
	width: 6px;
	height: 6px;
	background: var(--primary-text);
	border-radius: 50%;
	margin-right: 3px;
}
.dot:nth-child(2) {
	animation-delay: .33s;
}
.dot:nth-child(3) {
	animation-delay: .66s;
}

/* Message */
.messagediv, .titlespace {
	position: relative;
	padding: 4px 14px 4px 16px;
	border-left: 2px solid transparent;
}
.messagediv:hover {
	background: var(--primary-hover);
}
.messageButtons {
	position: absolute;
	top: -16px;
	right: 16px;
	padding: 4px;
	background: var(--secondary-bg);
	border-radius: 4px;
	gap: 4px;
}
.messageButtons div {
	padding: 4px;
	border-radius: 4px;
}
.messageButtons div:hover {
	background: var(--secondary-hover);
}
.messageButtons div span {
	display: block;
	height: 16px;
	width: 16px;
}
#replybox {
	height: 32px;
	padding: 0 16px;
	background: var(--secondary-bg);
	font-size: .9rem;
	border-radius: 8px 8px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: height .2s;
}
#replybox.hideReplyBox {
	height: 0;
	overflow: hidden;
}
.topMessage {
	margin-top: 16px;
}
.pfprow {
	flex: none;
	width: 40px;
	margin: 2px 12px 0 0;
}
.pfprow .pfp {
	height: 40px;
}
.commentrow {
	gap: 4px;
}
.commentrow .flexltr {
	display: block;
}
.username {
	font-weight: bold;
	cursor: pointer;
}
.username:hover {
	text-decoration: underline;
}
.jumped {
	animation-duration: 1.3s;
	animation-name: jumped;
}
@keyframes jumped {
	0%, 100% {
		background: unset;
	}
	50% {
		background: var(--message-jump-bg);
	}
}

/* Message Content */
.message pre {
	padding: 8px;
	margin-top: 4px;
	border-radius: 4px;
}
.message img {
	max-width: 100%;
}
.timestamp {
	margin-left: 6px;
	font-size: .75em;
	color: var(--primary-text-soft);
}
.spoiler {
	background: var(--spoiler);
	color: var(--spoiler);
}
.spoiler:hover {
	background: var(--spoiler-hover);
	color: var(--spoiler-hover);
}
.unspoiled {
	color: var(--spoiler-text);
}
.quote {
	display: inline-block;
	position: relative;
}
.quoteline {
	position: absolute;
	height: 100%;
	width: 4px;
	background: var(--quote-line);
}
span .quote:first-of-type .quoteline {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
span .quote:last-of-type .quoteline {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.quote span {
	display: inline-block;
	margin-left: 8px;
}
.replyflex {
	margin-bottom: 4px;
	font-size: .9em;
	color: var(--reply-text);
	display: flex;
	align-items: center;
	gap: 4px;
}
.startreply {
	flex: 0 0 28px;
	margin-left: 20px;
	background: var(--reply-line);
}
.replypfp {
	height: 20px;
	width: 20px;
}
.replytext {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}
.reply {
	flex: 1;
	background: var(--reply-line);
}
.replying {
	background: color-mix(in srgb, var(--reply-highlight) 20%, transparent);
	border-color: var(--reply-highlight);
}
.replying:hover {
	background: color-mix(in srgb, var(--reply-highlight) 20%, var(--primary-hover));
}
.mentioned {
	background: color-mix(in srgb, var(--mention-highlight) 20%, transparent);
	border-color: var(--mention-highlight);
}
.mentioned:hover {
	background: color-mix(in srgb, var(--mention-highlight) 20%, var(--primary-hover));
}
.mentionMD {
	background: color-mix(in srgb, var(--mention) 25%, transparent);
	padding: 2px;
	border-radius: 4px;
	cursor: pointer;
}
.mentionMD:hover {
	background: color-mix(in srgb, var(--mention) 75%, transparent);
}
.reactiondiv {
	margin-left: 52px;
	gap: 4px;
	flex-wrap: wrap;
}
.reaction {
	min-width: 36px;
	padding: 1px;
	margin-top: 1.5px;
	background: var(--reaction-bg);
	border: 1.5px solid transparent;
	border-radius: 4px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}
.reaction:hover {
	border-color: var(--focus);
}
.reaction.meReacted {
	border-color: color-mix(in srgb, var(--accent-color), transparent);
}
.smallemoji {
	width: 16px;
	height: 16px;
}

/* Message External */
.filename a {
	color: var(--filename);
}
.embed-color {
	max-width: 400px;
	margin-top: 4px;
	border-radius: 8px;
}
.embed {
	padding: 12px;
	margin-left: 4px;
	background: var(--embed-bg);
	font-size: .88rem;
	color: var(--secondary-text);
	border-radius: 0 8px 8px 0;
}
.embed a {
	display: inline-block;
	padding-bottom: 4px;
	font-size: 1rem;
	font-weight: bold;
}
.embed .provider {
	padding-bottom: 4px;
	color: var(--secondary-text-soft);
}
.embed img {
	margin-top: 8px;
	border-radius: 4px;
	cursor: pointer;
}

/* Context Menu */
.contextmenu {
	position: absolute;
	padding: 8px;
	background: var(--secondary-bg);
	border-radius: 4px;
	box-shadow: 0 0 8px var(--shadow);
}
.contextbutton {
	width: 180px;
	padding: 6px 16px;
	background: var(--secondary-bg);
	font-size: .9rem;
	font-weight: normal;
	border: none;
}
.contextmenu button:hover {
	background: var(--secondary-hover);
}

/* Profile */
.profile, .hypoprofile {
	position: absolute;
	height: 350px;
	width: 300px;
	padding: 8px;
	background: var(--card-bg);
	box-shadow: 0 0 8px var(--shadow), inset 0 132px 64px var(--accent_color);
	border-radius: 8px;
	overflow: hidden;
	align-items: start;
	box-sizing: border-box;
}
.hypoprofile {
	position: relative;
}
.profile .pfp, .hypoprofile .pfp {
	width: 48px;
}
.statusDiv {
	position: absolute;
	right: 2px;
	bottom: 2px;
	height: 7px;
	width: 7px;
	background: var(--black);
	border: solid 2.5px var(--black);
	border-radius: 50%;
}
.onlinestatus {
	background: var(--green);
}
.offlinestatus {
	background:var(--primary-bg);
}
.banner {
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	object-fit: cover;
}
.infosection {
	flex: 1;
	width: 100%;
	padding: 8px;
	margin-top: 52px;
	background: var(--secondary-bg);
	color: var(--secondary-text);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.infosection hr {
	width: 100%;
}
.tag {
	margin: 4px 0;
	font-size: .9em;
	color: var(--primary-text);
}
.pronouns {
	font-size: .9rem;
	color: var(--secondary-text-soft);
}
.rolesbox {
	margin-top: auto;
	display: flex;
	gap: 2px;
	flex-wrap: wrap;
}
.rolediv {
	padding: 4px 6px;
	background: var(--blank-bg);
	font-size: .9em;
	border: solid 1px var(--black);
	border-radius: 4px;
	display: flex;
	align-items: center;
	gap: 4px;
}
.colorrolediv {
	height: 12px;
	width: 12px;
	background: var(--role-color);
	border-radius: 50%;
}

/* Emoji Picker */
.emojiPicker {
	position: absolute;
	height: 350px;
	width: 300px;
	padding: 8px;
	background: var(--card-bg);
	border-radius: 8px;
	box-shadow: 0 0 8px var(--shadow);
	display: flex;
	flex-direction: column;
	gap: 4px;
	box-sizing: border-box;
}
.emojiTitle {
	font-size: 1.2rem;
}
.emojirow {
	flex: none;
	align-items: center;
	overflow-x: scroll;
}
.emojiSelect {
	padding: 6px;
	font-size: 22px;
	line-height: 22px;
	border-radius: 4px;
	cursor: pointer;
}
.emojiSelect:hover {
	background: var(--secondary-hover);
}
.emoji-server, .emojiBody .smallemoji {
	height: 22px;
	width: 22px;
	margin: 0;
}
.emojiBody {
	padding: 6px;
	background: var(--secondary-bg);
	border-radius: 8px;
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
}

/* Fullscreen */
.background {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background: color-mix(in srgb, var(--black) 75%, transparent);
	display: flex;
	flex-direction: column;
}
.imgfit {
	max-height: 100%;
	max-width: 100%;
}
.centeritem {
	position: fixed;
	top: 50%;
	left: 50%;
	max-height: 80vh;
	max-width: 80vh;
	transform: translate(-50%, -50%);
}

/* Settings */
.settingstitle {
	flex: 0 0 48px;
	padding-left: 16px;
	background: var(--settings-header-bg);
	border-bottom: solid 2px color-mix(in srgb, var(--black), transparent);
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
}
.Buttons {
	flex: 1;
	min-height: 0;
	background: var(--primary-bg);
}
.settingbuttons {
	flex: none;
	width: 180px;
	padding: 8px;
	background: var(--settings-panel-bg);
	border-right: solid 2px color-mix(in srgb, var(--black), transparent);
	gap: 2px;
	overflow-y: scroll;
}
.SettingsButton {
	flex: 0 0 2em;
	background: transparent;
	font-weight: normal;
	border: none;
}
.SettingsButton:hover {
	background: var(--settings-panel-hover);
}
.flexgrow {
	flex-grow: 1;
}
.titlediv {
	max-height: 100%;
	display: flex;
	flex-direction: column;
}
.optionElement {
	margin: 16px 16px 0 16px;
}
.flexspace {
	overflow-y: scroll;
}
.optionElement:has(.Buttons) {
	margin: 0;
	min-height: 0;
	display: flex;
}
.setting {
	padding: 16px;
	background: var(--secondary-bg);
	color: var(--secondary-text);
	border-radius: 4px;
}
.settingsname {
	font-size: 1.2rem;
}
.setting p {
	font-size: .9rem;
	color: var(--secondary-text-soft)
}
.tritoggle {
	display: inline;
	margin-left: 4px;
}
.tritoggle input {
	margin: 0 2px;
}
.tritoggle input:first-child {
	accent-color: var(--green);
}
.tritoggle input:last-child {
	accent-color: var(--red);
}
.flexspace .flexspace:has(.setting) {
	padding-bottom: 64px;
}
.savediv {
	position: fixed;
	bottom: 24px;
	right: 50%;
	transform: translateX(50%);
	padding: 16px;
	background: var(--primary-bg);
	font-size: 1.2rem;
	font-weight: bold;
	border-radius: 8px;
	box-shadow: 0 0 12px var(--shadow);
}
.savediv button {
	margin-left: 16px;
	background: color-mix(in srgb, var(--green) 70%, var(--secondary-bg));
}
.exitsettings {
	position: absolute;
	top: 8px;
	right: 8px;
	height: 32px;
	width: 32px;
	background: var(--button-bg);
	border-radius: 50%;
	cursor: pointer;
}
.exitsettings:hover {
	background: var(--button-hover);
}

/* !! DO NOT STYLE FAKE ICONS THEY WILL BE ADDED LATER !! */
/* WISHLIST: +, x */
/* ALSO NEED TO ASK TOMATO IF DESCRIPTION CAN GO NEXT TO CHANNEL NAME */
/* TEST READ NOTIF ON VIVALDI */
/* DO OTHER EMBED TYPES */
/* FIX THE MENU NESTING ON MAIN, MAYBE SPLIT BACKGROUND/FULLSCREEN? */
/* ALSO FIX EMOJI PICKER TTB TYPO */
/* LOGIN DIV AND POPUP CARDS ESPECIALLY DECIDE ON EMOJI STYLE */
/* FINAL SHOULD USE PRIMARY TEXT FOR ICON INSTEAD? */
/* SEARCH ANIMATION AND TRANSITION LATER, IMG CLICK SHOULD ANIMATE TOO */