.Dark-theme {
	color-scheme: dark;

  --color-bg-primary: #2d3036;
  --color-bg-primary-hover: #232628;
  --color-bg-secondary: #141718;
  --color-bg-panel: #232628;
  --color-bg-dock: #141718;
  --color-bg-textarea: #393d44;
  --color-bg-message-highlight: #141718;

  --color-text-primary: #e7e7e7;
  --color-text-primary-soft: #bac4c5;
  --color-text-secondary: #bac4c5;
  --color-spoiler: #000000;
  --color-link: #44cfbf;

  --color-button-bg: #545967;
  --color-button-bg-hover: #393d44;
  --color-panel-button-bg-hover: #393d44;

  --color-black: #000000;
  --color-red: #ff5555;
  --color-yellow: #f4e770;
  --color-green: #22a696;
}

.Light-theme {
  color-scheme: light;

  --color-bg-primary: #ffffff;
  --color-bg-primary-hover: #e5ecec;
  --color-bg-secondary: #bbeedd;
  --color-bg-panel: #ecf5f6;
  --color-bg-dock: #d8e7eb;
  --color-bg-textarea: #ecf5f6;
  --color-bg-message-highlight: #d8e7eb;

  --color-text-primary: #3d4454;
  --color-text-primary-soft: #869da7;
  --color-text-secondary: #319991;
  --color-spoiler: #b8c2f8;
  --color-link: #487fba;

  --color-button-bg: #b8c2f8;
  --color-button-bg-hover: #d4b5ff;
  --color-panel-button-bg-hover: #b5e0f1;

  --color-black: #0e2436;
  --color-red: #ea7cc0;
  --color-yellow: #fff599;
  --color-green: #39ccaa;
}