:root {
	--font: "acumin-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --black: black;
  --green: green;

  --primary-bg: #666666;
  --primary-hover: #707070;
	--primary-text: #eeeeee;
  --primary-text-soft: #cccccc;

  --secondary-bg: #555555;

  --button-bg: #444444;
  --button-hover: #555555;
  --button-text: #cccccc;
  
  --icon: #ffffff;
  --typebox-bg: #777777;

  --servers-bg: #222222;
  --blank-bg: #555555;
  --header-bg: #444444;
  --channels-bg: #888888;
  --channel-hover: #999999;
  --channel-selected: #aaaaaa;
  --dock-bg: #444444;
  --user-info-bg: #333333;
  --settings-hover: #333333;

  --code: #222222;
  --spoiler: #000000;
  --spoiler-hover: #333333;
  --reply-line: #bbbbbb;
  --reply-text: #dddddd;
  --reaction-bg: #555555;
  --embed-bg: #888888;

  --popup-bg: #777777;
  --text-input-bg: #333333;
  --loading-bg: #222222;
}