.Light-theme { /* Not actually Light Theme, but no one uses that one */
  color-scheme: dark;

  /* General */
  --primary-bg: #2d3036;
  --primary-text: #e7e7e7;
  --icon-color: #16c3a9;

  --black: #141718;
  --red: #ff5555;
  --yellow: #f4e770;
  --green: #22a696;
  --focus: #44cfbf;
  --link: #44cfbf;
  --shadow: #000000;

  --scrollbar-track: #393d44;
  --scrollbar-thumb: #545967;
  --scrollbar-thumb-hover: #545967;

  --loading-bg: #232628;

  /* Server List */
  --server-list: #141718;
  --light-border: #393d44;
  --blank-bg: #2d3036;

  /* Channels Area */
  --server-name-bg: #232628;
  --server-border: #141718;
  --channels-bg: #232628;
  --channel-hover: #545967;

  /* User */
  --user-dock-bg: #141718;
  --user-info-bg: #393d44;
  --settings-hover: #393d44;

  /* Messages Area */
  --channel-name-bg: #2d3036;
  --message-bg-hover: #232628;
  --message-jump: #545967;
  --timestamp-color: #bac4c5;
  --reply-border: #545967;
  --reply-bg: #000000;
  --reply-text: #bac4c5;
  --code-bg: #141718;
  --spoiler-hover: #000000;
  --spoiler-open-bg: #000000;

  /* Upload, External */
  --embed: #141718;
  --unknown-file-bg: #141718;
  --unknown-file-border: transparent;

  /* Typing */
  --textarea-bg: #393d44;

  /* Profile */
  --profile-bg: #141718;
  --profile-info-bg: #141718;
  --pronouns: #bac4c5;

  /* Menu */
  --dialog-bg: #2d3036;
  --dialog-border: #2d3036;
  --discovery-bg: #2d3036;
  --button-bg: #545967;
  --button-hover: #393d44;
  --login-border: #000000;

  /* Currently Unused */
  --filename: #44cfbf;
  --mention-bg: #3d5755;
  --quote-bg: #44cfbf;
  --markdown-timestamp: #e7e7e7;
}