:root {
	--font: "acumin-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Dark-theme {
	color-scheme: dark;

	--primary-bg: #2d3036;
	--primary-hover: #262a2f;
	--primary-text: #dddddd;
	--primary-text-soft: #adb8b9;

	--secondary-bg: #141718;
	--secondary-hover: #252b2c;

	--servers-bg: #141718;
	--channels-bg: #232628;
	--channel-selected: #393d44;
	--typebox-bg: #393d44;

	--button-bg: #545967;
	--button-hover: #393d44;

	--spoiler: #000000;
	--link: #5ca9ed;

	--black: #000000;
	--red: #ff5555;
	--yellow: #e7af50;
	--green: #22a696;

	--card-bg: #000000;
}

.Light-theme {
	color-scheme: light;

	--primary-bg: #aaafce;
	--primary-hover: #b1b6d4;
	--primary-text: #202035;
	--primary-text-soft: #424268;

	--secondary-bg: #9397bd;
	--secondary-hover: #aeb9d9;
	--secondary-text: #060415;
	--secondary-text-soft: #211f2e;
	
	--servers-bg: #7a7aaa;
	--channels-bg: #babdd2;
	--channel-selected: #9c9fbf;
	--typebox-bg: #bac0df;

	--button-bg: #babdd2;
	--button-hover: #9c9fbf;

	--spoiler: #34333a;
	--link: #283c8b;

	--black: #434392;
	--red: #dc5e5e;
	--yellow: #ffdb9d;
	--green: #1c907b;

	--blank-bg: #494985;
	--spoiler-text: #e4e6ed;
}

/* Optional Vars */
body {
	--icon: var(--primary-text);
	--shadow: color-mix(in srgb, var(--black) 25%, transparent);
	--focus: var(--accent-color);
	--loading-bg: var(--secondary-bg);
	--loading-text: var(--secondary-text);
	--card-bg: var(--primary-bg);
	--role-bg: var(--secondary-hover);

	--secondary-text: var(--primary-text);
	--secondary-text-soft: var(--primary-text-soft);
	--button-text: var(--primary-text);
	--button-border: var(--primary-text-soft);

	--blank-bg: var(--channels-bg);
	--divider: color-mix(in srgb, var(--primary-text), transparent);
	--channels-header-bg: var(--channels-bg);
	--channel-hover: color-mix(in srgb, var(--channel-selected), transparent);
	--dock-bg: var(--secondary-bg);
	--dock-hover: var(--secondary-hover);
	--user-info-bg: var(--secondary-bg);
	--user-info-text: var(--secondary-text);

	--main-header-bg: var(--primary-bg);
	--scrollbar: var(--primary-text-soft);
	--scrollbar-track: var(--primary-hover);
	--message-jump-bg: color-mix(in srgb, var(--accent-color) 20%, transparent);
	--code-bg: var(--secondary-bg);
	--spoiler-hover: color-mix(in srgb, var(--spoiler), var(--primary-text-soft) 10%);
	--spoiler-text: var(--primary-text);
	--quote-line: color-mix(in srgb, var(--primary-text-soft), transparent);
	--reply-line: color-mix(in srgb, var(--primary-text-soft) 20%, transparent);
	--reply-text: var(--primary-text-soft);
	--reply-highlight: var(--accent-color);
	--mention: var(--accent-color);
	--mention-highlight: var(--yellow);

	--reaction-bg: var(--secondary-bg);
	--reaction-reacted-bg: var(--secondary-hover);
	--embed-bg: var(--secondary-bg);
	--filename: var(--link);

	--settings-header-bg: var(--main-header-bg);
	--settings-panel-bg: var(--channels-bg);
	--settings-panel-selected: var(--channel-selected);
	--settings-panel-hover: color-mix(in srgb, var(--settings-panel-selected), transparent);
	--text-input-bg: var(--secondary-bg);
}