:root {
	--font: "acumin-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Dark-theme {
  color-scheme: dark;
  --primary-bg: #2d3036;
  --primary-hover: #262a2f;
  --primary-text: #dddddd;
  --primary-text-soft: #adb8b9;

  --secondary-bg: #141718;
  --secondary-hover: #2d3036;

  --servers-bg: #141718;
  --channels-bg: #232628;
  --channel-selected: #393d44;
  --typebox-bg: #393d44;
  --message-highlight-bg: #141718;

  --button-bg: #545967;
  --button-hover: #393d44;

  --spoiler: #000000;
  --link: #44cfbf;

  --black: #000000;
  --red: #ff5555;
  --yellow: #f4e770;
  --green: #22a696;
}

/* Optional Vars */
body {
  --icon: var(--accent-color);
  --secondary-text: var(--primary-text);
  --secondary-text-soft: var(--primary-text-soft);
  --button-text: var(--primary-text);
  --button-border: var(--primary-text-soft);

  --blank-bg: var(--primary-bg);
  --divider: color-mix(in srgb, var(--primary-text), transparent);
  --channels-header-bg: var(--channels-bg);
  --channel-hover: color-mix(in srgb, var(--channel-selected), transparent);
  --dock-bg: var(--secondary-bg);
  --dock-hover: var(--secondary-hover);
  --user-info-bg: var(--secondary-bg);

  --main-header-bg: var(--primary-bg);
  --code-bg: var(--secondary-bg);
  --spoiler-hover: color-mix(in srgb, var(--spoiler), var(--primary-text-soft) 10%);
  --quote-line: color-mix(in srgb, var(--primary-text-soft), transparent);
  --reply-line: color-mix(in srgb, var(--primary-text-soft) 20%, transparent);
  --reply-text: var(--primary-text-soft);
  --reaction-bg: var(--secondary-bg);
  --embed-bg: var(--secondary-bg);
  --filename: var(--link);

  --popup-bg: var(--primary-bg);
  --settings-header-bg: var(--main-header-bg);
  --settings-panel-bg: var(--channels-bg);
  --settings-panel-selected: var(--channel-selected);
  --settings-panel-hover: color-mix(in srgb, var(--settings-panel-selected), transparent);
  --text-input-bg: var(--secondary-bg);
  --loading-bg: var(--secondary-bg);
  --shadow: var(--black);
}