/* General */
body {
	margin: 0;
	background: var(--primary-bg);
	font-family: var(--font);
	color: var(--primary-text);
	overflow: hidden;
}
#page {
	height: 100vh;
}
.flexltr {
	min-height: 0;
	display: flex;
}
.flexttb {
	min-width: 0;
	display: flex;
	flex-direction: column;
}
p, h1, h2, h3, pre {
	margin: 0;
}
.title {
	font-size: 1.5rem;
	font-weight: bold;
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
a {
	color: var(--link);
	text-decoration: none;
	word-break: break-all;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
hr {
	height: 2px;
	background: var(--divider);
	border: none;
}
pre, samp {
	background: var(--code-bg);
}
select {
	appearance: none;
	-webkit-appearance: none;
}
button, input::file-selector-button, select {
	padding: 2px 8px;
	background: var(--button-bg);
	font-size: 1rem;
	font-family: var(--font);
	font-weight: bold;
	text-align: left;
	color: var(--button-text);
	border: none;
	border-bottom: 2.5px solid var(--button-border);
	border-radius: 4px;
	cursor: pointer;
	transition: background .1s ease-in-out;
}
button:hover, input::file-selector-button:hover {
	background: var(--button-hover);
}
button:active:enabled, input::file-selector-button:active {
	border: none;
}
input::file-selector-button, select {
	margin-left: 4px;
}
textarea {
	height: 144px;
	resize: none;
}
textarea, input[type="text"], input[type="password"], #date {
	display: block;
	width: 100%;
	min-width: 300px;
	padding: 8px;
	background: var(--text-input-bg);
	font-family: var(--font);
	font-size: 1rem;
	color: var(--secondary-text);
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type="color"] {
	display: block;
	height: 40px;
	width: 40px;
	background: var(--secondary-bg);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
:focus-visible {
	outline: 2px solid var(--focus);
}
input[type="text"],
input[type="password"],
textarea:focus-visible,
#typebox:focus-visible {
	outline: none;
}

/* Icons */
.pfp, .replypfp {
	display: block;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
}
.svg-announce {
	mask: url(/icons/announce.svg);
}
.svg-edit{
	mask: url(/icons/edit.svg);
}
.svg-reply{
	mask: url(/icons/reply.svg);
}
.svg-delete{
	mask: url(/icons/delete.svg);
}
.svg-category {
	mask: url(/icons/category.svg);
}
.svg-channel {
	mask: url(/icons/channel.svg);
}
.svg-copy {
	mask: url(/icons/copy.svg);
}
.svg-explore {
	mask: url(/icons/explore.svg);
}
.svg-home {
	mask: url(/icons/home.svg);
}
.svg-settings {
	mask: url(/icons/settings.svg);
}
.svg-voice {
	mask: url(/icons/voice.svg);
}
.svgtheme {
	display: block;
	background: var(--icon);
	mask-repeat: no-repeat;
}

/* Animations */
@keyframes fade {
	0%, 100% {
		opacity: .2;
	}
	50% {
		opacity: 1;
	}
}
@keyframes jumped {
	0%, 100% {
		background: none;
	}
	50% {
		background: var(--message-jump-bg);
	}
}

/* Scrollbars */
::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}
::-webkit-scrollbar-track {
	background: none;
}
::-webkit-scrollbar-track:hover {
	background: var(--channels-bg);
}
::-webkit-scrollbar-thumb {
	background: var(--primary-text-soft);
	border-radius: 8px;
	border: 2px solid transparent;
	background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--primary-text-soft);
}
#servers::-webkit-scrollbar, #channels::-webkit-scrollbar {
	display: none;
}

/* Login */
form {
	margin: 0;
}
#logindiv {
	max-height: 100vh;
	width: 516px;
	padding: 16px;
	background: var(--card-bg);
	border-radius: 8px;
	box-shadow: 0 0 8px var(--shadow);
	box-sizing: border-box;
	overflow-y: auto;
}
#logindiv label, #TOSbox {
	display: inline-block;
	margin: 12px 0 2px 0;
}
#logindiv br {
	line-height: 0;
}
#logindiv button {
	margin: 16px 0 12px 0;
}

/* Loading */
#loading {
	z-index: 100;
	position: absolute;
	height: 100%;
	width: 100%;
	background: var(--loading-bg);
	color: var(--loading-text);
	text-align: center;
	transition: transform .2s;
	overflow: hidden; /* keep size if window height is too small */
}
#loading.doneloading {
	transform: translate(0%, -100%);
}
#loadingdiv {
	display: none;
	flex: 0 0 100%; /* push out scroller until loaded */
	overflow-y: auto;
	flex-direction: column-reverse;
}
#switchaccounts {
	color: var(--link);
	text-decoration: underline;
	cursor: pointer;
}
#loadingdiv.loading {
	display: flex;
}
.loadingmessage {
	position: relative;
}
.loadingpfp {
	position: absolute;
	height: 40px;
	width: 40px;
	margin-left: 16px;
	background: var(--typebox-bg);
	border-radius: 50%;
}
.loadingcontent {
	height: 16px;
	margin: 0 0 12px 68px;
	background: var(--typebox-bg);
	border-radius: 8px;
}

/* Server List */
#servers {
	flex: 0 0 auto;
	padding: 8px;
	background: var(--servers-bg);
	overflow-y: auto;
	user-select: none;
}
.servericon {
	height: 48px;
	width: 48px;
	margin-bottom: 6px;
	border-radius: 50%;
	cursor: pointer;
	transition: border-radius .2s;
}
.servericon:hover, .serveropen .servericon {
	border-radius: 30%;
}
.svgicon {
	height: 100%;
	width: 100%;
}
.home.servericon {
	background: var(--blank-bg);
}
.home .svgicon {
	background: var(--accent-color);
}
.lightbr {
	margin: 8px 4px;
}
.blankserver {
	background: var(--blank-bg);
	display: flex;
	align-items: center;
	justify-content: center;
}
.servernoti, .home {
	position: relative;
}
.unread {
	position: absolute;
	transform: translate(-18px, 20px);
	height: 8px;
	width: 8px;
	background: var(--primary-text);
	border-radius: 4px;
	transition: transform .2s, height .2s;
}
.servernoti:hover .unread {
 	transform: translate(-12px, 12px);
	height: 24px;
}
.serveropen .unread {
	transform: translate(-12px, 8px) !important;
	height: 32px !important;
}
.notiunread {
	transform: translate(-12px, 20px);
}

/* Channel Panel */
.channelflex {
	flex: none;
	width: 240px;
	background: var(--channels-bg);
	user-select: none;
}
.header, .settingstitle {
	flex: none;
	height: 48px;
	padding: 0 16px;
	background: var(--channels-header-bg);
	border-bottom: 2px solid var(--shadow);
	align-items: center;
	user-select: none;
}
#serverName {
	font-size: 1.15rem;
}
#channels {
	flex: 1;
	overflow-y: auto;
}
.channels {
	overflow-y: hidden;
	transition: height .2s ease-in-out;
}
#channels > div > div:first-child {
	margin-top: 8px;
}
.channel {
	flex: 1;
	height: 2em;
	padding: 0 8px;
	margin: 0 8px;
	color: var(--primary-text-soft);
	display: flex;
	border-radius: 4px;
	align-items: center;
	cursor: pointer;
	transition: font-weight .1s;
}
.channel:hover {
	background: var(--channel-hover);
	color: var(--primary-text-prominent);
}
.viewChannel, .viewChannel:hover {
	background: var(--channel-selected);
	font-weight: bold;
	color: var(--primary-text-prominent);
}
.cunread {
	position: relative;
	color: var(--primary-text-prominent);
}
.cunread:after {
	content: '';
	position: absolute;
	top: calc(50% - 4px);
	left: -12px;
	height: 8px;
	width: 8px;
	background: var(--primary-text);
	border-radius: 50%;
}
.space {
	flex: none;
	height: 1em;
	width: 1em;
	margin-right: 8px;
	background: var(--primary-text-soft);
}
.capsflex {
	margin-top: 8px;
}
.channeleffects {
	min-width: 0;
	padding: 0;
	color: var(--primary-text-soft);
}
.channeleffects:hover {
	background: unset;
	color: var(--primary-text-prominent);
}
.collapse-icon {
	flex: none;
	height: 12px;
	width: 12px;
	margin-right: 6px;
	background: var(--primary-text-soft);
	transition: rotate .2s;
}
.hiddencat {
	rotate: -90deg;
}

/* DM Channels */
.channeleffects:has(.pfp) {
	padding: 4px 8px;
	align-items: center;
	gap: 8px;
}
.channeleffects:has(.pfp):hover {
	background: var(--channel-hover);
}

/* Dock */
#userdock {
	padding: 4px 6px;
	background: var(--dock-bg);
	align-items: center;
	justify-content: space-between;
}
#userinfo {
	min-width: 50%;
	background: var(--user-info-bg);
	color: var(--user-info-text);
	border-radius: 8px;
	cursor: pointer;
}
#userinfo:hover {
	background: var(--dock-hover);
}
#userpfp {
	height: 32px;
	width: 32px;
	margin: 6px;
}
.userflex {
	justify-content: center;
}
#status {
	font-size: .8em;
}
#user-actions {
	border-radius: 50%;
	cursor: pointer;
}
#user-actions:hover {
	background: var(--dock-hover);
}
#settings {
	height: 22px;
	width: 22px;
	margin: 6px;
}

/* Message Area */
.channelnamediv {
	background: var(--main-header-bg);
	gap: 8px;
}
#channelname {
	flex: none;
	font-weight: bold;
}
#channelTopic {
	font-size: .9em;
	color: var(--primary-text-soft);
}
#channelw {
	flex: 1;
}
.scroller {
	flex: 1;
	padding-bottom: 24px;
	overflow-y: auto;
}
#realbox {
	padding: 0 16px 32px 16px;
}
#typebox {
	padding: 8px 12px;
	background: var(--typebox-bg);
	border-radius: 4px;
}
#typebox[contenteditable=false] {
	cursor:not-allowed;
}
#typebox[contenteditable=false]:before {
	content: "You can't chat here";
	color: color-mix(in hsl, var(--typebox-bg), var(--primary-text));
}
#typing {
	position: absolute;
	bottom: 8px;
	margin-left: 24px;
	font-size: .9em;
	gap: 4px;
}
#typing.hidden {
	display: none;
}
.loading-indicator {
	align-items: center;
}
.dot {
	animation: fade 1s infinite;
	width: 6px;
	height: 6px;
	background: var(--primary-text);
	border-radius: 50%;
	margin-right: 3px;
}
.dot:nth-child(2) {
	animation-delay: .33s;
}
.dot:nth-child(3) {
	animation-delay: .66s;
}

/* Message */
.messagediv, .titlespace {
	position: relative;
	padding: 4px 36px 4px 16px;
	border-left: 2px solid transparent;
}
.messagediv:hover {
	background: var(--primary-hover);
}
.messageButtons {
	position: absolute;
	top: -16px;
	right: 16px;
	padding: 4px;
	background: var(--secondary-bg);
	box-shadow: 0 0 2px var(--shadow);
	border-radius: 4px;
	gap: 4px;
}
.messageButtons div {
	padding: 4px;
	border-radius: 4px;
	cursor: pointer;
}
.messageButtons div span {
	display: block;
	height: 16px;
	width: 16px;
	background: var(--secondary-text-soft);
}
.messageButtons div:hover {
	background: var(--secondary-hover);
}
.messageButtons div:hover span {
	background: var(--secondary-text);
}
#replybox {
	height: 32px;
	padding: 0 16px;
	background: var(--secondary-bg);
	font-size: .9em;
	color: var(--secondary-text);
	border-radius: 8px 8px 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: height .2s;
}
#replybox.hideReplyBox {
	height: 0;
	overflow: hidden;
}
.topMessage {
	margin-top: 16px;
}
.message {
	padding-right: 28px;
}
.pfprow {
	flex: none;
	width: 40px;
	margin: 2px 12px 0 0;
}
.pfprow .pfp {
	height: 40px;
	width: 40px;
}
.commentrow {
	gap: 4px;
}
.username {
	font-weight: bold;
	cursor: pointer;
}
.username:hover {
	text-decoration: underline;
}
.bot {
	padding: 2px 5px;
	margin-left: 4px;
	vertical-align: 1px;
	background: color-mix(in srgb, var(--accent-color) 75%, transparent);
	font-size: .75em;
	font-weight: bold;
	color: var(--primary-text-prominent);
	border-radius: 4px;
}
.membererror {
	display: inline-block;
	width: 14px;
	margin-left: 4px;
	font-size: 13px;
	line-height: 1em;
	text-align: center;
	border: solid var(--red) 2px;
	border-radius: 50%;
}
.jumped {
	animation: jumped 1.3s;
}

/* Message Content */
.message pre {
	padding: 8px;
	margin-top: 4px;
	border-radius: 4px;
}
.message img {
	max-width: 100%;
}
.timestamp {
	margin-left: 6px;
	font-size: .75em;
	color: var(--primary-text-soft);
}
.spoiler {
	background: var(--spoiler);
	color: var(--spoiler);
	cursor: pointer;
}
.spoiler:hover {
	background: var(--spoiler-hover);
	color: var(--spoiler-hover);
}
.unspoiled {
	color: var(--spoiler-text);
}
.quote {
	display: inline-block;
	position: relative;
}
.quoteline {
	position: absolute;
	height: 100%;
	width: 4px;
	background: var(--quote-line);
}
span .quote:first-of-type .quoteline {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
span .quote:last-of-type .quoteline {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.quote span {
	display: inline-block;
	margin-left: 8px;
}
.replyflex {
	margin-bottom: 4px;
	font-size: .9em;
	color: var(--reply-text);
	align-items: center;
	gap: 4px;
}
.startreply {
	flex: none;
	width: 28px;
	margin-left: 20px;
	background: var(--reply-line);
}
.replypfp {
	height: 20px;
	width: 20px;
}
.replytext {
	cursor: pointer;
}
.reply {
	flex: 1;
	background: var(--reply-line);
}
.replying {
	background: color-mix(in srgb, var(--reply-highlight) 10%, transparent);
	border-color: var(--reply-highlight);
}
.replying:hover {
	background: color-mix(in srgb, var(--reply-highlight) 10%, var(--primary-hover));
}
.mentioned {
	background: color-mix(in srgb, var(--mention-highlight) 10%, transparent);
	border-color: var(--mention-highlight);
}
.mentioned:hover {
	background: color-mix(in srgb, var(--mention-highlight) 10%, var(--primary-hover));
}
.mentionMD {
	background: color-mix(in srgb, var(--mention), transparent);
	padding: 0 2px;
	border-radius: 4px;
	cursor: pointer;
}
.mentionMD:hover {
	background: var(--mention);
}
.reactiondiv {
	margin-left: 52px;
	gap: 0 4px;
	flex-wrap: wrap;
	user-select: none;
}
.reaction {
	min-width: 30px;
	padding: 3px;
	margin-top: 4px;
	background: var(--reaction-bg);
	color: var(--secondary-text);
	border: 1.5px solid transparent;
	border-radius: 4px;
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 4px;
}
.reaction p {
	line-height: 1em;
}
.reaction:hover {
	border-color: var(--primary-text-soft);
}
.reaction.meReacted {
	background: var(--reaction-reacted-bg);
	border-color: color-mix(in srgb, var(--accent-color), transparent);
}
.smallemoji {
	width: 16px;
	height: 16px;
}

/* Message External */
.filename a {
	color: var(--filename);
}
.embed {
	max-width: 400px;
	padding: 12px;
	background: var(--embed-bg);
	font-size: .88em;
	color: var(--secondary-text);
	border-radius: 4px;
}
.embed-color {
	max-width: 400px;
	margin-top: 4px;
	border-radius: 4px;
}
.embed-color .embed {
	margin-left: 4px;
	border-radius: 0 4px 4px 0;
}
.embed a {
	display: inline-block;
	padding-bottom: 4px;
	font-size: 1em;
	font-weight: bold;
}
.embed .provider {
	padding-bottom: 4px;
	color: var(--secondary-text-soft);
}
img.embedicon {
	width: 16px;
	margin-right: 4px;
	border-radius: 50%;
	vertical-align: bottom;
}
img.embedimg {
	max-width: 96px;
}
img.bigembedimg {
	margin-top: 8px;
	border-radius: 4px;
	cursor: pointer;
}
.inviteEmbed {
	width: 400px;
	padding: 0;
	margin: 4px 0 0 0;
	border-radius: 4px;
	overflow: hidden;
}
.inviteEmbed .banner {
	height: 48px;
}
.inviteEmbed .flexltr {
	padding: 12px;
	gap: 8px;
}
.inviteEmbed .unread {
	display: none;
}
.inviteEmbed .pfp {
	cursor: auto;
}
.inviteEmbed .invguildinfo {
	flex: 1;
	padding: 0 12px;
	background: var(--primary-bg);
	border-radius: 4px;
	justify-content: center;
}
.subtext {
	color: var(--primary-text-soft);
}
.inviteEmbed h2 {
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	line-height: 1em;
	color: var(--secondary-text-soft);
}
.unknownfile {
	margin-top: 4px;
	padding: 4px;
	background: var(--secondary-bg);
	border-radius: 4px;
}
.acceptinvbutton {
	width: calc(100% - 24px);
	padding: 4px;
	margin: 12px;
	background: var(--green);
	font-size: 1.15rem;
	text-align: center;
	border-bottom-color: color-mix(in srgb, var(--button-border), var(--green));
}
.acceptinvbutton:hover, .acceptinvbutton:disabled {
	background: color-mix(in hsl,var(--green) 80%,var(--black));
}

/* Sidebar */
#sideDiv {
	flex: none;
	width: 240px;
	padding: 16px 8px;
	background: var(--sidebar-bg);
	overflow-y: auto;
	box-sizing: border-box;
}
.memberList {
	padding-bottom: 16px;
	color: var(--primary-text-soft);
}
.memberList h3 {
	margin: 0 8px 4px 8px;
	font-size: 1rem;
}
.memberList .flexltr {
	padding: 4px 8px;
	border-radius: 4px;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}
.memberList .flexltr:hover {
	background: var(--sidebar-hover);
}
.memberList.offline .flexltr {
	opacity: .5;
}

/* Context Menu */
.contextmenu {
	position: absolute;
	padding: 8px;
	background: var(--secondary-bg);
	border-radius: 4px;
	box-shadow: 0 0 8px var(--shadow);
}
.contextbutton {
	width: 180px;
	padding: 8px;
	background: var(--secondary-bg);
	font-size: .9rem;
	font-weight: normal;
	line-height: 1em;
	border: none;
}
.contextmenu button:hover {
	background: var(--secondary-hover);
}

/* Profile */
.profile {
	position: absolute;
	height: 350px;
	width: 300px;
	background: var(--card-bg);
	box-shadow: 0 0 8px var(--shadow), inset 0 132px 64px var(--accent_color);
	border-radius: 8px;
	overflow: hidden;
	align-items: flex-start;
}
.hypoprofile {
	position: relative;
	margin-bottom: 8px;
}
.profile .pfp {
	height: 48px;
	width: 48px;
	margin: 8px 0 0 8px;
}
.statusDiv {
	position: absolute;
	right: 2px;
	bottom: 2px;
	height: 7px;
	width: 7px;
	background: var(--black);
	border: 2.5px solid var(--black);
	border-radius: 50%;
}
.onlinestatus {
	background: var(--green);
}
.offlinestatus {
	background:var(--primary-bg);
}
.banner {
	height: 100px;
	width: 100%;
	object-fit: cover;
}
.infosection {
	flex: 1;
	width: calc(100% - 16px);
	padding: 12px;
	margin: 8px;
	margin-top: 64px;
	background: var(--secondary-bg);
	color: var(--secondary-text);
	border-radius: 8px;
	box-sizing: border-box;
}
.profile:has(.banner) .infosection {
	margin-top: 8px;
}
.infosection h2, .infosection h3 {
	word-break: break-word;
}
.infosection hr {
	width: 100%;
}
.tag {
	margin: 4px 0;
	font-size: .9em;
	color: var(--secondary-text);
}
.pronouns {
	font-size: .9em;
	color: var(--secondary-text-soft);
}
.rolesbox {
	margin-top: auto;
	display: flex;
	gap: 2px;
	flex-wrap: wrap;
}
.rolediv {
	padding: 4px 6px;
	background: var(--role-bg);
	font-size: .9em;
	border: 1px solid var(--black);
	border-radius: 4px;
	display: flex;
	align-items: center;
	gap: 4px;
}
.colorrolediv {
	height: 12px;
	width: 12px;
	background: var(--role-color);
	border-radius: 50%;
}

/* Emoji Picker */
.emojiPicker {
	position: absolute;
	height: 350px;
	width: 300px;
	padding: 8px;
	background: var(--card-bg);
	border-radius: 8px;
	box-shadow: 0 0 8px var(--shadow);
	gap: 4px;
	box-sizing: border-box;
	user-select: none;
}
.emojiTitle {
	font-size: 1.15rem;
}
.emojirow {
	flex: none;
	align-items: center;
	overflow-x: auto;
}
.emojiSelect {
	flex: none;
	height: 34px;
	width: 34px;
	font-size: 22px;
	line-height: 22px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.emojiSelect:hover {
	background: var(--secondary-hover);
}
.emoji-server, .emojiBody .smallemoji {
	height: 22px;
	width: 22px;
	margin: 0;
}
.emojiBody {
	flex: 1;
	padding: 6px;
	background: var(--secondary-bg);
	border-radius: 8px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(34px, 1fr));
	grid-auto-rows: min-content;
	overflow-y: auto;
}

/* Fullscreen and Modal */
.background {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background: color-mix(in srgb, var(--black) 75%, transparent);
}
.imgfit {
	max-height: 80vh;
	max-width: 80vw;
}
.nonimagecenter {
	padding: 12px;
	background: var(--primary-bg);
	border-radius: 8px;
}
.nonimagecenter .flexttb, .nonimagecenter .flexltr {
	justify-content: center;
	gap: 8px;
}
.centeritem, .accountSwitcher, #logindiv {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.accountSwitcher {
	max-height: 80vh;
	width: 500px;
	padding: 8px;
	background: var(--card-bg);
	border-radius: 8px;
	box-shadow: 0 0 24px var(--shadow), 0 0 1.5px var(--primary-text);
	gap: 8px;
	overflow-y: auto;
}
.switchtable {
	padding: 8px;
	background: var(--secondary-bg);
	color: var(--secondary-text);
	border-radius: 8px;
	cursor: pointer;
	align-items: center;
}
.switchtable:hover {
	background: var(--secondary-hover);
}
.switchtable .pfp {
	height: 48px;
	width: 48px;
	margin-right: 8px;
}
.serverURL {
	font-size: .9em;
	color: var(--secondary-text-soft);
}
.invitediv {
	width: 300px;
	padding-left: 8px;
	border-radius: 4px;
	background: var(--secondary-bg);
	overflow: hidden;
	display: flex;
	align-items: center;
}
.copycontainer {
	flex: none;
	background: var(--button-bg);
	cursor: pointer;
}
.copycontainer:hover {
	background: var(--button-hover);
}
.copybutton {
	height: 20px;
	width: 20px;
	margin: 8px;
}
.guildy {
	height: 80vh;
	width: 80vw;
	gap: 6px;
}
#discovery-guild-content {
	flex: 1;
	padding: 8px;
	border-radius: 8px;
	background: var(--card-bg);
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
	gap: 8px;
	overflow-y: auto;
}
.discovery-guild {
	height: 280px;
	border-radius: 8px;
	background: var(--secondary-bg);
	overflow: hidden;
	cursor: pointer;
}
.discovery-guild:hover {
	background: var(--secondary-hover);
}
.flex {
	margin: 8px;
	display: flex;
	align-items: center;
	gap: 6px;
}
.icon {
	height: 48px;
	width: 48px;
	border-radius: 50%;
}
.discovery-guild h3 {
	font-size: 1em;
}
.discovery-guild p {
	margin: 4px 8px;
	font-size: .9em;
	color: var(--secondary-text-soft);
	word-break: break-word;
}

/* Settings */
.menu {
	background: var(--settings-menu-bg);
}
.settingstitle {
	display: flex;
	padding-left: 16px;
	background: var(--settings-header-bg);
}
.Buttons {
	flex: 1;
}
.settingbuttons {
	flex: none;
	width: 180px;
	padding: 8px;
	background: var(--settings-panel-bg);
	border-right: 2px solid var(--shadow);
	overflow-y: auto;
}
.SettingsButton {
	height: 2em;
	width: 100%;
	padding: 8px;
	margin-bottom: 2px;
	background: none;
	color: var(--primary-text);
	border: none;
	transition: none;
}
.SettingsButton:hover {
	background: var(--settings-panel-hover);
}
.flexgrow {
	flex-grow: 1;
}
.titlediv {
	max-height: 100%;
}
.optionElement {
	margin: 16px 16px 0 16px;
}
.flexspace {
	overflow-y: auto;
}
.optionElement:has(.Buttons) {
	margin: 0;
	min-height: 0;
	display: flex;
}
.FormSettings button {
	margin: 16px;
}
#connection-container div {
	margin-bottom: 16px;
}
#connection-container .disabled {
	color: var(--primary-text-soft);
	cursor: not-allowed;
}
.setting {
	padding: 16px;
	background: var(--secondary-bg);
	color: var(--secondary-text);
	border-radius: 4px;
}
.settingsname {
	font-size: 1.15rem;
}
.setting p {
	font-size: .9em;
	color: var(--secondary-text-soft)
}
.tritoggle {
	display: inline;
	margin-left: 4px;
}
.tritoggle input {
	margin: 0 2px;
}
.tritoggle input:first-child {
	accent-color: var(--green);
}
.tritoggle input:last-child {
	accent-color: var(--red);
}
.flexspace .flexspace:has(.setting) {
	padding-bottom: 64px;
}
.savediv {
	position: fixed;
	bottom: 24px;
	right: 50%;
	transform: translateX(50%);
	padding: 16px;
	background: var(--primary-bg);
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 8px;
	box-shadow: 0 0 12px var(--shadow);
}
.savediv button {
	margin-left: 16px;
	background: var(--green);
}
.exitsettings {
	position: absolute;
	top: 8px;
	right: 8px;
	height: 32px;
	width: 32px;
	background: var(--button-bg);
	border-radius: 50%;
	cursor: pointer;
}
.exitsettings:hover {
	background: var(--button-hover);
}

/* TEST READ NOTIF ON VIVALDI */
/* INSTANCE DROPDOWN, INVITE PAGE, BOT INVITE PAGE, HOME PAGE (need to turn on instance pinging to work on this) */
/* What to confirm after replacing TS files + index.html with the ones from this branch? Default accent color, alignment of timestamp, absolute positioning of profile/hypoprofile card icon and banner, removal of neunence, vertical alignment of header texts, ellipsized text, sizing for empty, low horizontal content, and loading channels */

/* TEMP: +, x */
.addchannel {
	width: 32px;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: var(--primary-text-soft);
	cursor: pointer;
}
.addchannel:hover {
	color: var(--primary-text-prominent);
}
.home.servericon {
	font-size: 28px;
	text-align: center;
	line-height: 42px;
	color: var(--accent-color);
}
.cancelReply {
	color: var(--red);
	background: transparent;
	border: none;
}
.exitsettings {
	text-align: center;
	line-height: 32px;
}